* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.card-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
